{% extends 'base.html' %}

{% load static %}

{% block title %}About Me{% endblock %}

{% block head %}
    <!-- Load the separate CSS for the about page -->
    <link rel="stylesheet" href="{% static 'about.css' %}">
{% endblock %}

{% block content %}
<div class="about-container">
    <!-- About Me Section -->
    <div class="about-card">
        <h3 class="tealText">About Me:</h3>
        <p>
            I'm Benjamin Eklund, a soon-to-be graduate from Sacramento State with a degree in Computer Science. My academic journey has allowed me to build a strong foundation in software engineering, with a focus on game development, system architectures, and backend services. Through these experiences, I have developed a deep understanding of both object-oriented programming and efficient system design, laying the groundwork for my future career in software engineering.
        </p>
        
        <p>
            In my current role at Inductive Automation, I have gained valuable industry experience as a Software Support Engineer. By working with the Ignition platform, I troubleshoot complex systems, identify and resolve performance issues, and deliver technical solutions for SCADA environments. This experience has sharpened my problem-solving skills and given me the ability to work under pressure, while reinforcing my technical understanding of large-scale industrial systems.
        </p>
        
        <p>
            I’m passionate about transitioning into a software engineering role, where I can apply my knowledge and skills in developing efficient, scalable software solutions. I continuously expand my skill set by working on personal projects in game development, systems programming, and backend development, applying what I’ve learned both academically and in industry to create meaningful software.
        </p>
        
        <p>
            Take a look at my work and explore my <a href="/projects">Projects</a> page or visit my <a href="https://github.com/BenEklundCS?tab=repositories" target="_blank">GitHub repositories</a>, where I showcase a range of projects that reflect my passion for software engineering and development.
        </p>
        
    </div>

    <!-- Profile Picture Section -->
    <div class="profile-pic-card">
        <img src="{% static 'images/portfolio_img.jpg' %}" alt="Benjamin Eklund" class="profile-pic">
    </div>

    <!-- Fun Facts Section -->
    <div class="fun-facts-card">
        <h3 class="tealText">Fun Facts:</h3>
        <ul>
            <li>Favorite language: C++ (though I also work with Python and Java).</li>
            <li>Hobbies: Rock climbing, camping, and game development.</li>
            <li>Favorite text editor: VS Code, it has some great extensions!</li>
            <li>Favorite Games: Elden Ring, Battlefield, and many strategy games or city builders.</li>
            <li>Gadgets: I love my Steam Deck, it's a great handheld gaming device!</li>
        </ul>
    </div>
</div>
{% endblock %}
