{% extends 'base.html' %}

{% block title %}About Me{% endblock %}

{% block content %}
<div>
    <h3>About Me:</h3>
    <p>  
        I'm Benjamin Eklund, a soon-to-be graduate from Sacramento State with a degree in Computer Science. Throughout my academic journey, I have developed a strong foundation in software engineering, focusing on game development, system architectures, and backend services. My GitHub showcases a range of projects, from custom-built games to software tools, reflecting my hands-on experience with C++, Java, Python, and web technologies.
    </p>
    <p>             
        In my current role at Inductive Automation, I have gained valuable experience working with the Ignition platform, troubleshooting complex systems, and delivering technical solutions for SCADA environments. This hands-on experience in customer support has sharpened my problem-solving skills and enhanced my understanding of large-scale industrial systems.
    </p>   
    <p> 
        I’m passionate about building efficient, scalable software solutions and continuously expanding my skill set in game development, systems programming, and backend development. I look forward to leveraging my diverse experience to contribute to impactful software engineering projects.
    </p>
    <p>
        For a closer look at my work, feel free to explore the <a href="/projects">Projects</a> page or visit my <a href="https://github.com/BenEklundCS?tab=repositories" target="_blank">GitHub repositories</a>, where I showcase a diverse range of projects spanning game development, software tools, and open-source contributions.
    </p>
</div>
{% endblock %}
