<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="top-bar">
        <div class="logo">
            <a href="/">// Ben </a>
        </div>
        <ul class="menu">
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'skills' %}">Skills</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>


    </nav>
    <!-- Main Content Area -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>© 2024 Benjamin Eklund | Software Engineer</p>
    </footer>
</body>
</html>