{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-text">
        <h1 class="hero-title">Benjamin Eklund</h1>
        <h3><em>Computer Science Graduate</em> | CSUS</h3>

        <p class="hero-description">Software Engineer • Game Developer • Tech Enthusiast</p>
        <div class="cta">
            <a href="/about" class="cta-button">Learn More About Me</a>
        </div>
    </div>
</section>
{% endblock %}

