{% extends 'base.html' %}

{% load static %}

{% block title %}Skills{% endblock %}

{% block head %}
    <!-- Load the separate CSS for the skills page -->
    <link rel="stylesheet" href="{% static 'skills.css' %}">
{% endblock %}

{% block content %}
<div class="skills-section" class="disable-scroll">
    <h2>Technical Skills</h2>
    
    <p>With a strong foundation in software engineering and hands-on experience in various domains, I have developed a diverse skill set that allows me to tackle complex problems effectively. Below is a summary of my technical skills:</p>

    <ul>
        <li><strong>Programming Languages:</strong> C/C++, Java, Python, JavaScript, R - Applied programming languages to building projects, academic work, and troubleshooting Ignition.</li>
        <li><strong>Game Development:</strong> Raylib, LWJGL - Built a custom platformer game with optimized collision handling, sound integration, and multi-threading for performance.</li>
        <li><strong>Web Development:</strong> HTML, CSS, Django, React, TypeScript - Built and maintained various web applications and sites, including my portfolio site here!</li>
        <li><strong>Database Management:</strong> SQL, PostgreSQL, SQLite - Setting up a DB to run with existing applications, and troubleshooting them in production.</li>
        <li><strong>Tools and Platforms:</strong> Git, GitHub, Docker, AWS (basics) - Experience in version control, containerization, and verious cloud services.</li>
        <li><strong>SCADA Systems:</strong> Ignition by Inductive Automation - Provided technical support and troubleshooting for industrial automation systems.</li>
    </ul>

    <h3>Education</h3>
    <p>B.S. in Computer Science from Sacramento State University. In addition to my primary coursework, I focused additional study in: </p>
    <ul>
        <li><strong>Advanced Algorithm Design and Analysis</strong> - Studied dynamic programming, greedy methods, recurrence relations, NP-completeness, and more.</li>
        <li><strong>Computational Biology</strong> - Worked with R to analyze biological data, developing a better understanding for the diverse use-cases for Computer Science.</li>
        <li><strong>Blockchain</strong> - Learned a new language, Solidity, to develop Blockchain DAPP Applications on the Ethereum Network.</li>
    </ul>

    <h3>Certifications</h3>
    <ul>
        <li><strong>Ignition Gold Certification</strong></li>
        <li><strong>AWS Technical Essentials</strong></li>

</div>
{% endblock %}
