{% extends 'base.html' %}

{% block title %}Skills{% endblock %}

{% block content %}
<div class="skills-section">
    <h2>Technical Skills</h2>
    <ul>
        <li><strong>Programming Languages:</strong> C/C++, Java, Python, JavaScript, R</li>
        <li><strong>Game Development:</strong> Raylib, LWJGL</li>
        <li><strong>Web Development:</strong> HTML, CSS, Django</li>
        <li><strong>Database Management:</strong> SQL, PostgreSQL, SQLite</li>
        <li><strong>Tools and Platforms:</strong> Git, GitHub, Docker, AWS (basics)</li>
        <li><strong>SCADA Systems:</strong> Ignition by Inductive Automation</li>
        <li><strong>Other:</strong> Data Visualization, Geospatial Analysis</li>
    </ul>
</div>
{% endblock %}
